@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    display: flex;
    margin-left: 54px;
    width: 233px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-top: 32px;
    height: 12px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    display: flex;
    margin-left: 111px;
    width: 477px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-top: 66px;
    height: 25px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    display: flex;
    margin-left: 132px;
    width: 572px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-top: 79px;
    height: 29px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    display: flex;
    margin-left: 173px;
    width: 746px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-top: 102px;
    height: 38px
  }
}